<div class="modal-header">
  <h5 class="modal-title">Register TOTP Credential</h5>
</div>
<div class="modal-body">
  <p>
    Scan the below QR code using an authenticator app like Google Authenticator or Authy, then enter the currently
    displayed code to enable two-factor authentication.
  </p>
  <div class="text-center">
    <div class="d-inline-block px-4 py-4 d-inline-block bg-white">
      <%= qr_code_svg(@totp_credential.otp_provisioning_uri) %>
    </div>
  </div>
  <p class="small text-center">
    Can't scan? Your OTP secret is: <br>
    <code><%= @totp_credential.otp_secret %></code>
  </p>
  <%= form_with(model: @totp_credential, method: :post, url: user_totp_credential_path, data: {"turbo-frame": "_top"}) do |f| %>

    <div class="mb-3">
      <%= f.label :otp_attempt, "Current OTP Code", class: "form-label" %>
      <%= f.text_field :otp_attempt, placeholder: "123456", class: "form-control" %>
    </div>

    <%= f.submit "Register Authenticator", class: "btn btn-primary" %>
  <% end %>
</div>