<% character = character_registration.character %>

<div id="<%= dom_id character_registration %>">
  <%= image_tag character.avatar_url %>
  <h2><%= character.name %></h2>
  <p><%= character.home_with_datacenter %></p>
  <%= link_to "Lodestone ID #{character.lodestone_id}", character.lodestone_url %>
  <p>Verified: <%= character_registration.verified? ? "Yes" : "No" %></p>
  <p>Verification Key: <code><%= character_registration.verification_key %></code></p>
</div>
