<%= form_with(model: character_registration) do |form| %>
  <p>
    To register a character, please paste in either the character's Lodestone ID or a link to the character to add.
  </p>

  <div class="form-floating mb-3">
    <%= form.text_field :character_ref,
                        class: "form-control #{"is-invalid" if character_registration.errors.present?}",
                        pattern: CharacterRegistrationsHelper::LODESTONE_URL_REGEX,
                        placeholder: "id" %>
    <%= form.label :character_ref, "Lodestone ID or URL" %>
    <% if character_registration.errors.present? %>
      <ul class="invalid-feedback list-unstyled">
        <% character_registration.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    <% end %>
  </div>

  <div>
    <%= form.submit "Register Character", class: "btn btn-primary" %>
    <%= link_to "Cancel", character_registrations_path, class: "btn btn-secondary-outline" %>
  </div>
<% end %>