<h1>Characters</h1>

<% if user_at_character_allowance(current_user) %>
  <p class="text-danger">Maximum number of unverified characters reached.</p>
<% else %>
  <%= link_to "New Character", new_character_path, class: "btn btn-primary", data: { turbo_frame: "remote_modal" } %>
<% end %>

<div id="characters-tbl" class="mt-4">
  <table class="table table-hover">
    <thead>
    <tr>
      <th scope="col" class="col-min"></th>
      <th scope="col">Name</th>
      <th scope="col" class="col-min">Lodestone ID</th>
      <th scope="col" class="text-end col-min min-width-250">Actions</th>
    </tr>
    </thead>
    <tbody>
    <% @characters.each do |character| %>
      <tr>
        <td>
          <%= image_tag character.avatar_url, class: "rounded ffxiv-avatar" %>
        </td>
        <td>
          <h6 class="mb-0"><%= verifiable_text character.character_name, character.verified? %></h6>
          <small class="text-muted"><%= character.home_world %> (<%= character.home_datacenter %>)</small>
        </td>
        <td><%= link_to_lodestone character.lodestone_id, character %></td>
        <td>
          <div class="button-toolbar float-end">
            <% unless character.verified? %>
              <%= link_to "#{character_path(character)}/verify", data: { turbo_frame: "remote_modal" },
                          form: { class: "button_to inline" }, class: "btn btn-success btn-sm", role: "button" do %>
                <i class="bi bi-person-check-fill"></i> Verify
              <% end %>
            <% end %>
            <% if character.last_lodestone_update < 24.hours.ago %>
              <%= button_to character, method: :put, name: 'command', value: 'sync',
                            form: { class: "button_to inline" }, class: "btn btn-outline-primary btn-sm" do %>
                <i class="bi bi-arrow-repeat"></i> Sync
              <% end %>
            <% end %>
            <%= button_to character, method: :delete, form: {
              data: { turbo_confirm: "Are you sure you want to delete #{character.character_name}?" },
              class: "button_to inline" }, class: "btn btn-outline-danger btn-sm" do %>
              <i class="bi bi-trash"></i> Delete
            <% end %>
          </div>
        </td>
      </tr>
    <% end %>
    </tbody>
  </table>
</div>