<h1>Characters</h1>
<a class="btn btn-primary" href="<%= new_character_path %>" role="button">New Character</a>
<table class="table">
  <thead>
  <tr>
    <th scope="col" width="96">Avatar</th>
    <th scope="col">Character</th>
    <th scope="col">Verified</th>
    <th scope="col">Actions</th>
  </tr>
  </thead>
  <% @characters.each do |character| %>
    <tr>
      <td><%= image_tag character.avatar_url, class: "rounded" %></td>
      <td><%= link_to character.character_name, character %> @ <%= character.home_world %>
        <br><%= character.lodestone_id %></td>
      <td><%= character.verified? ? "Yes" : "No" %></td>
      <td>
        <% unless character.verified? %>
          <a class="btn btn-success" href="#" role="button">Verify</a>
        <% end %>
        <%= button_to 'Delete', character, method: :delete, form: {
          data: { turbo_confirm: "Are you sure you want to delete #{character.character_name}?" } },
                      class: "btn btn-outline-danger" %>
      </td>
    </tr>
  <% end %>
</table>