<div class="card" id="<%= dom_id application %>">
  <div class="card-body">
    <div class="d-flex align-items-center">
      <img src="<%= application.profile.icon_url %>" class="rounded m-2"
           alt="Icon for <%= application.name %>" width="96" height="96">
      <div class="ps-2">
        <h5 class="card-title">
          <%= application.name %>
        </h5>
        <p class="small">Owned by:
          <% if application.owner_type == "User" %>
            <i class="bi bi-person"></i> <%= application.owner.profile.display_name %>
          <% elsif application.owner_type == "Team" %>
            <i class="bi bi-people"></i> <%= application.owner.name %>
          <% else %>
            <i class="bi bi-gear"></i> System
          <% end %>
        </p>
        <div>
          <% if application.oauth_clients.present? %>
            <span class="badge bg-success"><i class="bi bi-link-45deg"></i> OAuth</span>
          <% end %>
          <% if application.private? %>
            <span class="badge bg-gray"><i class="bi bi-lock"></i> Private</span>
          <% end %>
        </div>
      </div>
    </div>
    <div class="d-flex justify-content-end">
      <%= link_to developer_application_path(application), class: 'btn btn-primary' do %>
        <i class="bi bi-pencil-fill"></i>
      <% end %>
    </div>
  </div>
</div>