<div class="card" id="<%= dom_id application %>">
  <div class="card-body">
    <div class="d-flex align-items-center">
      <img src="https://ui-avatars.com/api/?name=<%= application.name %>&background=random" class="rounded m-2"
           alt="Icon for <%= application.name %>" width="96" height="96">
      <div class="ps-2">
        <h5 class="card-title">
          <%= application.name %>
        </h5>
      </div>
    </div>
    <div class="d-flex justify-content-end">
      <%= link_to developer_application_path(application), class: 'btn btn-primary' do %>
        <i class="bi bi-pencil-fill"></i>
      <% end %>
    </div>
  </div>
</div>