<% content_for(:page_header) do %>
  <div class="d-flex justify-content-between align-items-center">
    <h1>Create New Application</h1>
  </div>
  <p>Register a new application that can use XIVAuth's services.</p>
<% end %>

<div class="card mb-4">
  <%= form_for @application, url: app_submit_path(@application), as: :client_application, html: { role: 'form' } do |f| %>
    <% if @application.errors.any? %>
      <div class="alert alert-danger m-3"><p><%= t('doorkeeper.applications.form.error') %></p></div>
    <% end %>

    <%= render 'app_profile_form', f: f %>

    <div class="card-footer bg-transparent d-flex justify-content-end gap-2">
      <%= f.submit t('doorkeeper.applications.buttons.submit'), class: 'btn btn-primary' %>
      <%= link_to t('doorkeeper.applications.buttons.cancel'), developer_applications_path, class: 'btn btn-secondary' %>
    </div>
  <% end %>
</div>
