<div class="border-bottom mb-4">
  <h1>View <%= @application.name %></h1>
</div>

<div class="row">
  <div class="col-md-6">
    <div class="btn-toolbar gap-2 mb-4">
      <%= link_to edit_developer_application_path(@application), class: 'btn btn-primary' do %>
        <i class="bi bi-pencil"></i> Edit App
      <% end %>
      <%= button_to developer_application_path(@application), method: :delete, class: "btn btn-danger",
                    data: { confirm: "Are you sure?", turbo_confirm: "Are you sure?" } do %>
        <i class="bi bi-trash"></i> Delete App
      <% end %>
    </div>
    <table class="table">
      <tbody>
      <tr>
        <th scope="row">Client ID</th>
        <td><code><%= @application.uid %></code></td>
      </tr>
      <tr>
        <th scope="row">Client Secret</th>
        <td>
          <% secret = flash[:application_secret].presence || @application.plaintext_secret %>
          <% unless secret.blank? && Doorkeeper.config.application_secret_hashed? %>
            <code><%= secret %></code><br>
            <small>Warning: This is the only time this secret will be shown. Please ensure it is saved now.</small>
          <% end %>
          <%= button_to regenerate_secret_developer_application_path(@application), class: 'btn btn-primary' do %>
            <i class="bi bi-arrow-clockwise"></i> Regenerate
          <% end %>
        </td>
      </tr>
      <tr>
        <th scope="row">Scopes</th>
        <td>
          <code class="bg-light" id="scopes">
            <% if @application.scopes.present? %>
              <%= @application.scopes %>
            <% else %>
              <span class="bg-light font-italic text-uppercase text-muted"><%= t('.not_defined') %></span>
            <% end %>
          </code>
        </td>
      </tr>
      <tr>
        <th scope="row">Confidential App</th>
        <td>
          <code class="bg-light" id="confidential"><%= @application.confidential? %></code>
        </td>
      </tr>
      <tr>
        <th scope="row">Redirect URIs</th>
        <td>
          <ul class="list-unstyled">
            <% @application.redirect_uri.split.each do |uri| %>
              <li>
                <code><%= uri %></code>
                <%= link_to t('doorkeeper.applications.buttons.authorize'), oauth_authorization_path(client_id: @application.uid, redirect_uri: uri, response_type: 'code', scope: @application.scopes), class: 'btn btn-success', target: '_blank' %>
              </li>
            <% end %>
          </ul>
        </td>
      </tr>
      </tr>
      </tbody>
    </table>
  </div>
</div>
