<div class="border-bottom mb-4">
  <h1>View <%= @application.name %></h1>
</div>

<div class="row">
  <div class="col-md-6">
    <div class="btn-toolbar gap-2 mb-4">
      <%= link_to edit_developer_application_path(@application), class: 'btn btn-primary' do %>
        <i class="bi bi-pencil"></i> Edit App
      <% end %>
      <%= button_to developer_application_path(@application), method: :delete, class: "btn btn-danger",
                    data: { confirm: "Are you sure?", turbo_confirm: "Are you sure?" } do %>
        <i class="bi bi-trash"></i> Delete App
      <% end %>
    </div>
    <h3 class="mb-2">App Profile</h3>
    <table class="table">
      <tbody>
      <tr>
        <th scope="row">
          <abbr title="Used for entangled IDs and privacy features.">App ID</abbr>
        </th>
        <td><code><%= @application.id %></code></td>
      </tr>
      <tr>
        <th scope="row">App Privacy</th>
        <td><%= @application.private ? "Private (ACL Enabled)" : "Public (ACL Disabled)" %></td>
      </tr>
      </tbody>
    </table>
  </div>
  <div class="col-md-6">
    <%= form_for @application, url: app_submit_path(@application), as: :client_application, html: { role: 'form' } do |f| %>
      <div class="mb-3 form-check form-switch">
        <%= f.checkbox :private, class: "form-check-input", aria: { describedby: "privateFieldHelp" } %>
        <%= f.label :private, "Private App" %>
        <p class="form-text" id="privateFieldHelp">
          Private apps require users be listed in the app's Access Control List (ACL) to use it.
        </p>
      </div>
      <%= f.fields_for :profile, @application.profile do |pf| %>
        <div class="form-floating mb-2">
          <%= pf.text_field :homepage_url, class: "form-control", placeholder: "https://xivauth.net/" %>
          <%= pf.label :homepage_url, "Homepage URL" %>
        </div>
        <div class="form-floating mb-2">
          <%= pf.text_field :privacy_policy_url, class: "form-control", placeholder: "https://xivauth.net/privacy" %>
          <%= pf.label :privacy_policy_url, "Privacy Policy URL" %>
        </div>
        <div class="form-floating mb-2">
          <%= pf.text_field :terms_of_service_url, class: "form-control", placeholder: "https://xivauth.net/terms" %>
          <%= pf.label :terms_of_service_url, "Terms of Service URL" %>
        </div>
      <% end %>
    <% end %>
  </div>
  <div class="col-md-12">
    <h3 class="mb-2">OAuth Credentials</h3>
    <%= link_to "Add New Credential", new_developer_application_oauth_client_path(@application), class: "btn btn-primary" %>
    <table class="table">
      <thead>
      <tr>
        <th>Name</th>
        <th>Credentials</th>
        <th>Credential Age</th>
        <th></th>
      </tr>
      </thead>
      <tbody>
      <% @application.oauth_clients.each do |client| %>
        <tr>
          <td>
            <%= link_to client.name, developer_oauth_client_path(client) %>
            <% if client.active? %>
              <span class="badge bg-success">Active</span>
            <% elsif client.expired? %>
              <span class="badge bg-warning">Expired</span>
            <% else %>
              <span class="badge bg-gray">Disabled</span>
            <% end %>
          </td>
          <td>
            <strong>Client ID:</strong> <span class="font-monospace"><%= client.client_id %></span><br>
            <strong>Client Secret:</strong> <span class="font-monospace">REDACTED</span>
          </td>
          <td>
            <%= distance_of_time_in_words_to_now(client.created_at).capitalize %> <br>
            <% if client.expires_at.present? && !client.expired? %>
              <small class="text-muted">Expires in <%= distance_of_time_in_words_to_now(client.expires_at) %></small>
            <% elsif client.expires_at.present? && client.expired? %>
              <small class="text-warning">Expired <%= distance_of_time_in_words_to_now(client.expires_at) %> ago</small>
            <% else %>
              <small class="text-muted">Never expires</small>
            <% end %>
          </td>
        </tr>
      <% end %>
      </tbody>
    </table>
  </div>
</div>
