<% content_for(:page_header) do %>
  <div class="d-flex justify-content-between align-items-center">
    <h1>Edit App: <%= @application.name %></h1>
    <div>
      <div class="btn-toolbar gap-2">
        <%= button_to transfer_developer_application_path(@application), method: :get, class: "btn btn-outline-primary",
                      data: { turbo_stream: "remote_modal" } do %>
          <i class="bi bi-arrow-left-right"></i> Transfer
        <% end %>
        <%= button_to developer_application_path(@application), method: :delete, class: "btn btn-danger",
                      data: { turbo_stream: true } do %>
          <i class="bi bi-trash"></i> Delete App
        <% end %>
      </div>
    </div>
  </div>
<% end %>

<div class="row">
  <div class="col-md-12">
    <div class="card mb-4">
      <div class="card-header">
        <h3 class="mb-0"><i class="bi bi-file-text"></i> App Profile</h3>
      </div>
      <%= form_for @application, url: developer_application_path(@application), method: :patch do |f| %>
        <%= render 'app_profile_form', f: f %>

        <div class="card-footer bg-transparent d-flex justify-content-end">
          <%= f.submit "Save Changes", class: "btn btn-primary px-4" %>
        </div>
      <% end %>
    </div>
  </div>
  <div class="col-md-12">
    <div class="card mb-4">
      <div class="card-header">
        <div class="d-flex justify-content-between mb-2 align-items-center">
          <h3><i class="bi bi-plug"></i> OAuth Credentials</h3>
          <%= link_to new_developer_application_oauth_client_path(@application), class: "btn btn-primary" do %>
            <i class="bi bi-plus"></i> Add new Credential
          <% end %>
        </div>
      </div>

      <div class="card-body">
        <% if @application.oauth_clients.any? %>
          <table class="table">
            <thead>
            <tr>
              <th>Name</th>
              <th>Credentials</th>
              <th>Credential Age</th>
              <th></th>
            </tr>
            </thead>
            <tbody>
            <% @application.oauth_clients.each do |client| %>
              <tr>
                <td>
                  <%= link_to client.name, developer_oauth_client_path(client) %>
                  <% if client.active? %>
                    <span class="badge bg-success">Active</span>
                  <% elsif client.expired? %>
                    <span class="badge bg-warning">Expired</span>
                  <% else %>
                    <span class="badge bg-secondary">Disabled</span>
                  <% end %>
                </td>
                <td>
                  <strong>Client ID:</strong> <span class="font-monospace"><%= client.client_id %></span><br>
                  <strong>Client Secret:</strong> <span class="font-monospace">REDACTED</span>
                </td>
                <td>
                  <span data-controller="utilities--hover-dt" data-utilities--hover-dt-ts-value="<%= client.created_at.to_i %>">
                    <%= distance_of_time_in_words_to_now(client.created_at).capitalize %>
                  </span> <br/>

                  <% if client.expires_at.present? && !client.expired? %>
                    <small class="text-muted">
                      Expires
                      <span data-controller="utilities--hover-dt" data-utilities--hover-dt-ts-value="<%= client.expires_at.to_i %>">
                        in <%= distance_of_time_in_words_to_now(client.expires_at) %>
                      </span>
                    </small>
                  <% elsif client.expires_at.present? && client.expired? %>
                    <small class="text-warning">
                      Expired
                      <span data-controller="utilities--hover-dt" data-utilities--hover-dt-ts-value="<%= client.expires_at.to_i %>">
                        <%= distance_of_time_in_words_to_now(client.expires_at) %> ago
                      </span>
                    </small>
                  <% else %>
                    <small class="text-muted">Never expires</small>
                  <% end %>
                </td>
              </tr>
            <% end %>
            </tbody>
          </table>
        <% else %>
          <div class="text-center text-muted py-2">
            <p>No OAuth credentials are defined yet.</p>
            <p>Click the "Add new Credential" button to create your first OAuth client.</p>
          </div>
        <% end %>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <div class="card mb-4">
      <div class="card-header">
        <div class="d-flex justify-content-between mb-2 align-items-center">
          <h3><i class="bi bi-passport"></i> On-Behalf-Of Authorizations</h3>
          <%= button_to new_developer_application_obo_authorization_path(@application), class: "btn btn-primary",
                        method: :get, data: { turbo_stream: "remote_modal" } do %>
            Add
          <% end %>
        </div>
        <p class="text-muted small">
          An on-behalf-of authorization allows another app to request a JWT attestation intended for this app. Any
          attestations issued for this app will have the Audience (<code>aud</code>) field set to this app's ID, and
          the Authorized Party (<code>azp</code>) field set to the ID of the app that requested the attestation.
        </p>
      </div>
      <div class="card-body">
        <% if @application.obo_authorizations.any? %>
          <p>The following apps may request JWTs for this app: </p>
          <ul>
            <% @application.obo_authorizations.each do |auth| %>
              <li class="font-monospace"><%= auth.id %></li>
            <% end %>
          </ul>
          <p class="text-center">To remove authorizations, please contact an XIVAuth developer.</p>
        <% else %>
          <div class="text-center">
            No authorizations added.
          </div>
        <% end %>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <div class="card mb-4">
      <div class="card-header">
        <div class="d-flex justify-content-between mb-2 align-items-center">
          <h3><i class="bi bi-shield-shaded"></i> Access Control List</h3>
          <button class="btn btn-primary" disabled>Add Entry</button>
        </div>
        <p class="text-muted small">
          The Access Control List allows controlling which users and teams can use this app outside the owning user or
          team. This is useful for complex apps that have advanced access requirements.
        </p>
      </div>
      <div class="card-body">
        <% if !@application.private? %>
          <div class="text-center">
            Public apps do not yet support ACLs.
          </div>
        <% elsif @application.acls.any? %>
          <p>ACL entries here...</p>
        <% else %>
          <div class="text-center">
            No ACL entries added.<br>
            To add users or teams, please contact an XIVAuth developer.
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
