<% oauth_client = model.application %>
<% client_application = oauth_client.application %>

<div id="oauth-consent-ui">
  <%= form_tag oauth_device_authorizations_authorize_path, method: :post do %>
    <%= render partial: 'oauth/authorizations/auth_card_header',
               locals: { client_application: client_application, action_prefix: "Connect to" } %>

    <div class="card-body">
      <main role="main">
        <p><%= client_application.name %> wants to use your XIVAuth account to log in.</p>

        <% if model.scopes.count > 0 %>
          <div id="oauth-permissions">
            <p>This app is requesting permission to:</p>

            <ul>
              <% model.scopes.each do |scope| %>
                <li>
              <span title="<%= t(:description, scope: ["xivauth", "oauth_scopes", scope], default: "") %>">
                <%= t(:consent, scope: ["xivauth", "oauth_scopes", scope], default: scope.humanize.titleize) %>
              </span>
                  <% case scope %>
                  <% when 'character' %>
                    <%= render 'oauth/authorizations/scope_selectors/character' %>
                  <% when 'character:all' %>
                    <%= render 'oauth/authorizations/scope_selectors/character_all' %>
                  <% when 'user:social' %>
                    <%= render 'oauth/authorizations/scope_selectors/social_identity' %>
                  <% else
                       nil %>
                  <% end %>
                </li>
              <% end %>
            </ul>
          </div>
        <% end %>

        <%= hidden_field_tag :user_code, params[:user_code], id: nil %>

        <div class="actions d-flex gap-2 mt-5">
          <%= button_tag t('doorkeeper.authorizations.buttons.deny'), type: "submit",
                         class: 'btn btn-outline-danger btn-lg col-6',
                         name: 'disposition', value: 'deny' %>
          <%= button_tag t('doorkeeper.authorizations.buttons.authorize'), type: "submit",
                         class: 'btn btn-success btn-lg col-6',
                         name: 'disposition', value: 'authorize' %>
        </div>

        <div class="text-muted text-center small mt-3">
          <ul class="list-unstyled list-inline pipe-separated-items">
            <% if client_application.profile.homepage_url %>
              <li>
                <a href="<%= client_application.profile.homepage_url %>" target="_blank" rel="noopener noreferrer">App
                  Homepage</a>
              </li>
            <% end %>
            <% if client_application.profile.terms_of_service_url %>
              <li>
                <a href="<%= client_application.profile.terms_of_service_url %>" target="_blank" rel="noopener noreferrer">App
                  Terms of Service</a>
              </li>
            <% end %>
            <% if client_application.profile.privacy_policy_url %>
              <li>
                <a href="<%= client_application.profile.privacy_policy_url %>" target="_blank" rel="noopener noreferrer">App
                  Privacy Policy</a>
              </li>
            <% end %>
          </ul>
        </div>
      </main>
    </div>
  <% end %>
</div>