<% oauth_client = @pre_auth.client.application %>
<% client_application = oauth_client.application %>

<%= form_tag oauth_authorization_path, method: :post, data: { turbo: "false" } do %>
  <div class="card-body">
    <main role="main">

      <div class="d-flex justify-content-center pad-2 pb-2" style="align-self: center;">
        <%= image_tag current_user.avatar_url, class: "img-fluid avatar avatar-50 rounded align-self-center", width: 72 %>
        <span class="px-2 align-self-center"><i class="bi bi-three-dots"></i></span>
        <%= image_tag client_application.profile.icon_url, class: "img-fluid avatar avatar-50 rounded   align-self-center", width: 72 %>
      </div>

      <h4 class="text-center">
        Connect to <%= client_application.name %>
        <% if client_application.verified? %>
          <i class="bi bi-patch-check-fill text-success" title="App verified by XIVAuth"></i>
        <% end %>
      </h4>
      <p class="text-center text-muted small">by
        <% case client_application.owner %>
        <% when User %>
          <i class="bi bi-person-fill"></i> <%= client_application.owner.profile.display_name %>
        <% else
             nil %>
        <% end %>
      </p>

      <p><%= client_application.name %> wants to use your XIVAuth account to log in.</p>

      <% if @pre_auth.scopes.count > 0 %>
        <div id="oauth-permissions">
          <p><%= t('.able_to') %>:</p>

          <ul>
            <% @pre_auth.scopes.each do |scope| %>
              <li>
              <span title="<%= t(:description, scope: ["xivauth", "oauth_scopes", scope], default: "") %>">
                <%= t(:consent, scope: ["xivauth", "oauth_scopes", scope], default: scope.humanize.titleize) %>
              </span>
                <% case scope %>
                <% when 'character' %>
                  <%= render 'doorkeeper/authorizations/scope_selectors/character' %>
                <% when 'character:all' %>
                  <%= render 'doorkeeper/authorizations/scope_selectors/character_all' %>
                <% when 'user:social' %>
                  <%= render 'doorkeeper/authorizations/scope_selectors/social_identity' %>
                <% else
                     nil %>
                <% end %>
              </li>
            <% end %>
          </ul>
        </div>
      <% end %>

      <%= hidden_field_tag :client_id, @pre_auth.client.uid, id: nil %>
      <%= hidden_field_tag :redirect_uri, @pre_auth.redirect_uri, id: nil %>
      <%= hidden_field_tag :state, @pre_auth.state, id: nil %>
      <%= hidden_field_tag :response_type, @pre_auth.response_type, id: nil %>
      <%= hidden_field_tag :response_mode, @pre_auth.response_mode, id: nil %>
      <%= hidden_field_tag :scope, @pre_auth.scope, id: nil %>
      <%= hidden_field_tag :code_challenge, @pre_auth.code_challenge, id: nil %>
      <%= hidden_field_tag :code_challenge_method, @pre_auth.code_challenge_method, id: nil %>

      <div class="actions d-flex gap-2 mt-5">
        <%= button_tag t('doorkeeper.authorizations.buttons.deny'), type: "submit",
                       class: 'btn btn-outline-danger btn-lg col-6',
                       name: 'disposition', value: 'deny' %>
        <%= button_tag t('doorkeeper.authorizations.buttons.authorize'), type: "submit",
                       class: 'btn btn-success btn-lg col-6',
                       name: 'disposition', value: 'authorize' %>
      </div>

      <div class="text-muted text-center small mt-3">
        <ul class="list-unstyled list-inline pipe-separated-items">
          <% if client_application.profile.homepage_url %>
            <li>
              <a href="<%= client_application.profile.homepage_url %>" target="_blank" rel="noopener noreferrer">App
                Homepage</a>
            </li>
          <% end %>
          <% if client_application.profile.terms_of_service_url %>
            <li>
              <a href="<%= client_application.profile.terms_of_service_url %>" target="_blank" rel="noopener noreferrer">App
                Terms of Service</a>
            </li>
          <% end %>
          <% if client_application.profile.privacy_policy_url %>
            <li>
              <a href="<%= client_application.profile.privacy_policy_url %>" target="_blank" rel="noopener noreferrer">App
                Privacy Policy</a>
            </li>
          <% end %>
        </ul>
      </div>
    </main>
  </div>
<% end %>