<div class="row">
  <h2>Edit <%= resource_name.to_s.humanize %></h2>
  <div class="col-md-6 mb-4">
    <h3>Profile Information</h3>

    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>

      <div class="form-group field">
        <%= f.label :email, class: "form-label" %><br/>
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control" %>
      </div>

      <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
        <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
      <% end %>

      <div class="form-group field">
        <%= f.label :password, class: "form-label" %> <i>(leave blank if you don't want to change it)</i><br/>
        <%= f.password_field :password, autocomplete: "new-password", class: "form-control" %>
        <% if @minimum_password_length %>
          <br/>
          <em><%= @minimum_password_length %> characters minimum</em>
        <% end %>
      </div>

      <div class="form-group field">
        <%= f.label :password_confirmation, class: "form-label" %><br/>
        <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control" %>
      </div>

      <div class="form-group field">
        <%= f.label :current_password, class: "form-label" %>
        <i>(we need your current password to confirm your changes)</i><br/>
        <%= f.password_field :current_password, autocomplete: "current-password", class: "form-control" %>
      </div>

      <div class="actions">
        <%= f.submit "Update", class: "btn btn-primary" %>
      </div>
    <% end %>
  </div>
  <div class="col-md-6 mb-4">
    <h3>Social Identities</h3>
    <%- if devise_mapping.omniauthable? %>
      <div class="dropdown">
        <button class="btn btn-primary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
          <i class="bi bi-person-add"></i> Link Social Identity
        </button>
        <ul class="dropdown-menu">
          <%- resource_class.social_identity_providers.each do |provider| %>
            <li>
              <%= button_to omniauth_authorize_path(resource_name, provider), data: { turbo: false }, class: "dropdown-item" do %>
                <i class="bi bi-<%= provider %>"></i> Add <%= OmniAuth::Utils.camelize(provider) %> account
              <% end %>
            </li>
          <% end %>
        </ul>
      </div>
    <% end %>
    <table class="table">
      <thead>
      <tr>
        <th scope="col">Provider</th>
        <th scope="col">Name</th>
        <th scope="col">External ID</th>
        <th scope="col">Actions</th>
      </tr>
      </thead>
      <% resource.social_identities.each do |identity| %>
        <tr>
          <td><i class="bi-<%= identity.provider %>"></i> <%= identity.provider.humanize %></td>
          <td><%= identity.friendly_name %></td>
          <td><%= identity.external_id %></td>
          <td>
            <%= button_to social_identity_path(identity), method: :delete, class: "btn btn-danger" do %>
              <i class="bi bi-trash"></i>
            <% end %>
          </td>
        </tr>
      <% end %>
    </table>
  </div>

  <div class="col-md-6 mb-4">
    <h3>Multi-Factor Authentication</h3>
    <% if resource.totp_credential.present? %>
      <%= button_to new_totp_credential_path, class: "btn btn-outline-danger", method: :get, data: { turbo_stream: "remote_modal" } do %>
        <i class="bi bi-calculator"></i> Remove OTP Code
      <% end %>
    <% else %>
      <%= button_to new_totp_credential_path, class: "btn btn-outline-primary", method: :get, data: { turbo_stream: "remote_modal" } do %>
        <i class="bi bi-calculator"></i> Add OTP Code
      <% end %>
    <% end %>
    <%= button_to new_webauthn_credential_path, class: "btn btn-outline-primary", method: :get, data: { turbo_stream: "remote_modal" } do %>
      <i class="bi bi-usb-drive"></i> Add Security Key
    <% end %>
    <% if resource.webauthn_credentials.present? %>
      <h5>Registered Security Keys</h5>
      <table class="table">
        <thead>
        <th scope="col">Nickname</th>
        <th scope="col">Actions</th>
        </thead>
        <tbody>
        <% resource.webauthn_credentials.each do |cred| %>
          <tr>
            <td><%= cred.nickname %></td>
            <td>
              <%= button_to webauthn_credential_path(cred), method: :delete, class: "btn btn-danger" do %>
                <i class="bi bi-trash"></i>
              <% end %>
            </td>
          </tr>
        <% end %>
        </tbody>
      </table>
    <% end %>
  </div>

  <div class="col-md-6 mb-4">
    <h3>Danger Zone</h3>

    <%= button_to "Cancel my account", registration_path(resource_name), class: "btn btn-danger",
                  data: { confirm: "Are you sure?", turbo_confirm: "Are you sure?" },
                  method: :delete %>

  </div>
</div>

