<h2 class="mb-4">Sign Up for XIVAuth</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), data: {controller: "form--turnstile"}) do |f| %>
  <div class="form-group field mb-2">
    <%= f.label :email, class: "form-label" %><br/>
    <%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'form-control', placeholder: "#{eegg_random_npc_email}" %>
    <div class="form-text">
      We hate marketing emails too. XIVAuth will only use your email for service notifications.
    </div>
  </div>

  <%= f.fields_for :profile do |pf| %>
    <div class="form-group field mb-2">
      <%= pf.label :display_name, class: 'form-label' %>
      <%= pf.text_field :display_name, class: 'form-control', autocomplete: 'nickname' %>
      <div class="form-text">
        The Display Name is given to apps you sign in to, as well as shown on any apps you create. It can be changed
        at any time.
      </div>
    </div>
  <% end %>

  <div data-controller="devise--password-strength" data-devise--password-strength-min-score-value="<%= User.min_password_score %>">
    <div class="form-group field mb-2">
      <%= f.label :password, class: "form-label" %>
      <div class="form-control-with-button">
        <%= f.password_field :password, autocomplete: "new-password", class: "form-control",
                             data: {
                               "action": 'input->devise--password-strength#calc',
                               "devise--password-strength-target": 'password'
                             } %>
        <button class="btn" type="button" aria-label="Show password" data-action="click->devise--password-strength#togglePassword">
          <i class="bi bi-eye" aria-hidden="true"></i>
        </button>
      </div>

      <div class="form-text text-secondary pt-1">
        <div class="progress password-strength mb-1" role="meter" aria-hidden="true" data-devise--password-strength-target="meter">
          <div class="progress-bar bg-primary" data-devise--password-strength-target="meterInner"></div>
        </div>
        <p class="mb-0 d-none">
          <strong class="text-secondary" data-devise--password-strength-target="strength">Unknown</strong> -
          <span data-devise--password-strength-target="crackTime"></span>
          <abbr title="Calculated at 1000 guesses/second">to crack</abbr>
        </p>
        <ul class="list-unstyled mb-0" data-devise--password-strength-target="tips"></ul>
      </div>
    </div>

    <div class="form-group field mb-2">
      <%= f.label :password_confirmation %><br/>
      <div class="form-control-with-button">
        <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control",
                             data: {
                               "action": "input->devise--password-strength#onConfirm",
                               "devise--password-strength-target": 'confirm'
                             } %>
        <button class="btn" type="button" aria-label="Show password" data-action="click->devise--password-strength#togglePassword">
          <i class="bi bi-eye" aria-hidden="true"></i>
        </button>
      </div>
    </div>
  </div>

  <p>
    By signing up to XIVAuth, you agree to our <%= link_to "Terms of Service", legal_terms_path %> and
    <%= link_to "Privacy Policy", legal_privacy_path %>.
  </p>

  <div class="d-flex justify-content-center">
    <%= render partial: "layouts/components/form_elements/turnstile_preflight", locals: { action: "signup" } %>
  </div>
  <div class="form-group d-grid d-md-flex mt-2 gap-2 mb-1">
    <%= f.submit "Sign Up", class: "btn btn-primary col-md-8" %>
    <%= link_to "Log in", new_user_session_path, class: "btn btn-secondary col" %>
  </div>
<% end %>