<h1>Application: <%= @application.name %></h1>

<table class="table">
  <tbody>
    <tr>
      <th scope="row">Client ID</th>
      <td><code><%= @application.uid %></code></td>
    </tr>
    <tr>
      <th scope="row">Client Secret</th>
      <td>
        <% secret = flash[:application_secret].presence || @application.plaintext_secret %>
        <% unless secret.blank? && Doorkeeper.config.application_secret_hashed? %>
          <code><%= secret %></code>
          <small>Warning: This is the only time this secret will be shown. Please ensure it is saved now.</small>
        <% end %>
        <button type="button" class="btn btn-danger">Regenerate [ToDo]</button>
      </td>
    </tr>
    <tr>
      <th scope="row">Redirect URIs</th>
      <td>
        <pre><%= @application.redirect_uri %></pre><br>
      </td>
    </tr>
    <tr>
      <th scope="row">Authorized Scopes</th>
      <td>
        <code><%= @application.scopes %></code><br>
        <small>To request additional scopes, please contact one of the XIVAuth developers.</small>
      </td>
    </tr>
    <tr>
      <th scope="Row">Public App</th>
      <td><%= @application.public ? "Yes" : "No" %></td>
    </tr>
  </tbody>
</table>

<div class="btn-toolbar">
  <button type="button" class="btn btn-primary me-2">Something</button>
  <button type="button" class="btn btn-secondary me-2">Another Thing</button>
  <button type="button" class="btn btn-danger float-end">Delete</button>
</div>