<% content_for(:page_header) do %>
  <div class="d-flex justify-content-between align-items-center">
    <div>
      <h1><%= can?(:manage, @team) ? "Edit Team: " : "" %><%= @team.name %></h1>
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><%= link_to "My Teams", developer_teams_path %></li>
          <li class="breadcrumb-item active" aria-current="page"><%= @team.name %></li>
        </ol>
      </nav>
    </div>
    <div>
      <div class="btn-toolbar gap-2">
        <% if @team.direct_memberships.exists?(user: current_user) %>
          <%= button_to leave_developer_team_path(@team), method: :delete, class: "btn btn-outline-danger",
                        data: { confirm: "Are you sure you want to leave #{@team.name}?" } do %>
            <i class="bi bi-box-arrow-right"></i> Leave Team
          <% end %>
        <% end %>
        <% if can? :manage, @team %>
          <%= button_to developer_team_path(@team), method: :delete, class: "btn btn-danger #{ 'disabled' if @team.deletion_block_reason }",
                        disabled: @team.deletion_block_reason.present?,
                        data: { turbo_stream: true },
                        title: @team.deletion_block_reason do %>
            <i class="bi bi-trash"></i> Delete Team
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
<% end %>

<div class="row">
  <div class="col-md-12">
    <%= render 'developer/teams/show/profile_card' %>
  </div>

  <div class="col-md-6">
    <%= render 'developer/teams/show/apps_card' %>
  </div>

  <div class="col-md-6">
    <%= render 'developer/teams/show/subteams_card' %>
  </div>

  <div class="col-md-12">
    <%= render 'developer/teams/show/members_card' %>
  </div>
</div>
