<% content_for(:page_header) do %>
  <div>
    <h1>Edit Team: <%= @team.name %></h1>
  </div>
<% end %>

<div class="row">
  <div class="col-md-6">
    <h3 class="mb-2">Team Profile</h3>
    <table class="table">
      <tbody>
      <tr>
        <th scope="row">Team ID</th>
        <td><code><%= @team.id %></code></td>
      </tr>
      <% if @team.parent.present? %>
        <tr>
          <th scope="row">Inheritance Status</th>
          <td><%= @team.inherit_parent_memberships ? "Inherit from Parents" : "Standalone" %></td>
        </tr>
      <% end %>
      </tbody>
    </table>
  </div>
  <div class="col-md-6">
    <h3 class="mb-2">Subteams</h3>
    <% if @team.subteams.any? %>
      <ul class="list-group">
        <% @team.subteams.each do |subteam| %>
          <li class="list-group-item"><%= subteam.name %></li>
        <% end %>
      </ul>
    <% else %>
      <p class="text-muted">No subteams.</p>
    <% end %>
  </div>
  <div class="col-md-6">
    <div class="d-flex justify-content-between mb-2">
      <h3 class="">Invite Links</h3>
      <%= link_to new_developer_team_invite_link_path(team_id: @team.id), class: "btn btn-primary", data: {turbo_stream: true} do %>
        <i class="bi bi-plus"></i> Create Link
      <% end %>
    </div>

    <% if @team.invite_links.any? %>
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Invite Key</th>
            <th>Target Role</th>
            <th>Restrictions</th>
            <th><!-- Actions --></th>
          </tr>
        </thead>
        <tbody>
          <% @team.invite_links.each do |link| %>
            <tr id="invite_link_<%= link.id %>">
              <td>
                <code><%= link.invite_key %></code>
                <div data-controller="utilities--copy-code" class="d-inline-block align-middle">
                  <input type="hidden" data-utilities--copy-code-target="source"
                         value="<%= accept_invite_developer_teams_url(link.invite_key) %>">
                  <button class="btn btn-outline-secondary btn-sm ms-1" type="button" title="Copy Invite URL"
                          aria-label="Copy Invite URL" data-action="utilities--copy-code#copy"
                          data-utilities--copy-code-target="button">
                    <i class="bi bi-copy"></i>
                  </button>
                </div>
              </td>
              <td>
                <%= link.target_role.titleize %>
              </td>
              <td>
                <% if link.expires_at? %>
                  <% if link.expired? %>
                    Expired <%= distance_of_time_in_words_to_now(link.expires_at) %> ago <br/>
                  <% else %>
                    Expires in <%= distance_of_time_in_words_to_now(link.expires_at) %> <br/>
                  <% end %>
                <% end %>
                <%= link.usage_count %> of <%= link.usage_limit || "∞" %> uses
              </td>
              <td>
                <%= button_to developer_team_invite_link_path(link), method: :delete, data: { confirm: "Are you sure?", turbo_stream: true }, class: "btn btn-sm btn-danger" do %>
                  <i class="bi bi-trash"></i>
                <% end %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    <% else %>
      <p class="text-muted">No invite links.</p>
    <% end %>
  </div>
</div>