<% content_for :page_layout do %>
  <% if content_for? :sidebar_override %>
    <%= yield :sidebar_override %>
  <% else %>
    <%= render 'layouts/portal/navigation/sidebar' %>
  <% end %>

  <main class="main-content">
    <%= render 'layouts/portal/navigation/topbar' %>
    <div class="page-header">
      <div class="header-content">
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-12">
              <%= yield(:page_header) %>
            </div>
          </div>
        </div>
      </div>
      <div class="header-img"></div>
    </div>
    <div class="container-fluid content-inner py-0">
      <%= content_for?(:portal_page_content) ?  yield(:portal_page_content) : yield %>
    </div>

    <div class="container mt-auto">
      <%= render 'layouts/footer' %>
    </div>
  </main>
<% end %>

<%= render template: "layouts/application" %>