<% content_for :page_layout do %>
  <% if content_for? :sidebar_override %>
    <%= yield :sidebar_override %>
  <% else %>
    <%= render 'layouts/portal/navigation/sidebar' %>
  <% end %>

  <main class="main-content">
    <div class="position-relative iq-banner">
      <%= render 'layouts/portal/navigation/topbar' %>
      <div class="iq-navbar-header" style="height: 215px">
        <div class="container-fluid iq-container">
          <div class="row">
            <div class="col-md-12">
              <div class="flex-wrap d-flex justify-content-between align-items-center">
                <%= yield(:page_header) %>
              </div>
            </div>
          </div>
        </div>
        <div class="iq-header-img">
          <img src="<%= asset_path('top-header.png') %>" alt="Header Image" class="img-fluid w-100 h-100">
        </div>
      </div>
    </div>
    <div class="container-fluid content-inner mt-n5 py-0">
      <%= content_for?(:portal_page_content) ?  yield(:portal_page_content) : yield %>
    </div>

    <div class="container mt-auto">
      <%= render 'layouts/footer' %>
    </div>
  </main>
<% end %>

<%= render template: "layouts/application" %>