<h2 class="mb-4">Reset Password</h2>

<%= form_for(resource, as: resource_name, url: reset_user_password_path, html: { method: :put }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>
  <%= f.hidden_field :reset_password_token %>

  <div data-controller="devise--password-strength" data-devise--password-strength-min-score-value="<%= User.min_password_score %>">
    <div class="form-group field mb-2">
      <%= f.label :password, class: "form-label" %>
      <div class="input-group">
        <%= f.password_field :password, autocomplete: "new-password", class: "form-control",
                             data: {
                               "action": 'input->devise--password-strength#calc',
                               "devise--password-strength-target": 'password'
                             } %>
        <button class="btn btn-outline-secondary" type="button" aria-label="Show password" data-action="click->devise--password-strength#togglePassword">
          <i class="bi bi-eye" aria-hidden="true"></i>
        </button>
      </div>

      <div class="form-text text-secondary pt-1">
        <div class="progress password-strength mb-1" role="meter" aria-hidden="true" data-devise--password-strength-target="meter">
          <div class="progress-bar bg-primary" data-devise--password-strength-target="meterInner"></div>
        </div>
        <p class="mb-0 d-none">
          <strong class="text-secondary" data-devise--password-strength-target="strength">Unknown</strong> -
          <span data-devise--password-strength-target="crackTime"></span>
          <abbr title="Calculated at 1000 guesses/second">to crack</abbr>
        </p>
        <ul class="list-unstyled mb-0" data-devise--password-strength-target="tips"></ul>
      </div>
    </div>

    <div class="form-group field mb-2">
      <%= f.label :password_confirmation %><br/>
      <div class="input-group">
        <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control",
                             data: {
                               "action": "input->devise--password-strength#onConfirm",
                               "devise--password-strength-target": 'confirm'
                             } %>
        <button class="btn btn-outline-secondary" type="button" aria-label="Show password" data-action="click->devise--password-strength#togglePassword">
          <i class="bi bi-eye" aria-hidden="true"></i>
        </button>
      </div>
    </div>
  </div>

  <div class="form-group d-grid d-md-flex mt-4 gap-2 mb-1">
    <%= f.submit "Update Password", class: "btn btn-primary col-md-12" %>
  </div>
<% end %>
