<nav class="offcanvas-xl offcanvas-start bg-dark sidebar" id="sidebar" tabindex="-1" aria-labelledby="sidebarLabel">
  <div class="offcanvas-header sidebar-header">
    <a class="pride-brand <%= current_pride_flag_class %>" href="/" id="sidebarLabel">XIVAuth</a>
    <button type="button" class="btn-close btn-close-white d-xl-none" data-bs-dismiss="offcanvas" data-bs-target="#sidebar" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body sidebar-body">
    <ul id="sidebar-menu" class="navbar-nav">

      <li class="nav-item static-item">
        <a class="nav-link static-item disabled" href="#" tabindex="-1">
          <span class="default-icon">My Account</span>
        </a>
      </li>
      <%= render partial: 'layouts/portal/navigation/sidebar_entry', locals: {
        name: "My Characters", target: character_registrations_path, icon_classes: "bi bi-person-badge"
      } %>

      <% if current_user.profile.has_feature?(:certificate_management) ||
            Flipper.enabled?(:certificate_management, current_user) %>
        <%= render partial: 'layouts/portal/navigation/sidebar_entry', locals: {
          name: "My Certificates", target: certificates_path, icon_classes: "bi bi-award"
        } %>
      <% end %>

      <li>
        <hr class="hr-horizontal">
      </li>

      <li class="nav-item static-item">
        <a class="nav-link static-item disabled" href="#" tabindex="-1">
          <span class="default-icon">Developer Tools</span>
        </a>
      </li>
      <% if current_user.developer? %>
        <%= render partial: 'layouts/portal/navigation/sidebar_entry', locals: {
          name: "My Applications", target: developer_applications_path, icon_classes: "bi bi-code-slash"
        } %>
        <%= render partial: 'layouts/portal/navigation/sidebar_entry', locals: {
          name: "My Teams", target: developer_teams_path, icon_classes: "bi bi-people",
          badge_html: "<span class='badge bg-warning'><span class='bi bi-flask'></i> Beta</span>"
        } %>
        <li class="nav-item">
          <a href="https://kazwolfe.notion.site/Documentation-128e77f0016c4901888ea1234678c37d?pvs=4" target="_blank" class="nav-link">
            <i class="bi bi-book"></i>
            <span class="item-name">API Documentation</span>
          </a>
        </li>
      <% else %>
        <%= render partial: 'layouts/portal/navigation/sidebar_entry', locals: {
          name: "Request Dev Access", target: developer_onboarding_path, icon_classes: "bi bi-file-earmark-code"
        } %>
      <% end %>


      <% if current_user.admin? %>
        <li>
          <hr class="hr-horizontal">
        </li>
        <li class="nav-item static-item">
          <a class="nav-link static-item disabled" href="#" tabindex="-1">
            <span class="default-icon">Admin Panel</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link collapsed" data-bs-toggle="collapse" href="#adminToolbox" role="button">
            <i class="bi bi-table"></i>
            <span class="item-name">Data Management</span>
            <i class="bi bi-chevron-right right-icon"></i>
          </a>
          <ul id="adminToolbox" class="sub-nav collapse" data-bs-parent="#sidebar-menu">
            <li class="nav-item">
              <%= link_to admin_users_path, class: 'nav-link' do %>
                <i class="bi bi-person"></i>
                <span class="item-name">Users</span>
              <% end %>
            </li>
            <li class="nav-item">
              <%= link_to admin_characters_path, class: 'nav-link' do %>
                <i class="bi bi-person-badge"></i>
                <span class="item-name">Characters</span>
              <% end %>
            </li>
            <li class="nav-item">
              <%= link_to admin_client_applications_path, class: 'nav-link' do %>
                <i class="bi bi-menu-app"></i>
                <span class="item-name">Client Apps</span>
              <% end %>
              </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link collapsed" data-bs-toggle="collapse" href="#adminInternals" role="button">
            <i class="bi bi-gear-wide-connected"></i>
            <span class="item-name">Framework</span>
            <i class="bi bi-chevron-right right-icon"></i>
          </a>
          <ul id="adminInternals" class="sub-nav collapse" data-bs-parent="#sidebar-menu">
            <li class="nav-item">
              <%= link_to "/admin/sidekiq", class: 'nav-link' do %>
                <i class="bi bi-clock-history"></i>
                <span class="item-name">Sidekiq UI</span>
              <% end %>
            </li>
            <li class="nav-item">
              <%= link_to "/admin/flipper", class: 'nav-link' do %>
                <i class="bi bi-toggle-on"></i>
                <span class="item-name">Feature Flags</span>
              <% end %>
            </li>
          </ul>
        </li>
      <% end %>
    </ul>
  </div>
  <div class="sidebar-footer">
  </div>
</nav>