<nav class="navbar navbar-expand bg-dark" data-bs-theme="dark">
  <div class="container-fluid navbar-inner">
    <button class="navbar-toggler d-xl-none pe-3" type="button" data-bs-toggle="offcanvas" data-bs-target="#sidebar"
            aria-controls="sidebar" aria-label="Toggle navigation">
      <i class="bi bi-list"></i>
    </button>

    <a class="navbar-brand pride-brand <%= current_pride_flag_class %>" href="/">XIVAuth</a>

    <ul class="navbar-nav ms-auto align-items-center navbar-list mb-lg-0">
      <li class="nav-item dropdown">
        <a id="navbarDropdown" class="py-0 nav-link d-flex align-items-center" role="button" data-bs-toggle="dropdown" aria-expanded="false">
          <img src="<%= current_user.avatar_url %>" alt="" width="36" height="36" class="d-inline-block rounded-2">
          <div class="caption ms-3 d-none d-md-block">
            <h6 class="mb-0">Hi, <%= current_user&.profile&.display_name || 'Guest' %>!</h6>
          </div>
        </a>
        <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
          <li>
            <a class="dropdown-item" href="<%= edit_user_path %>">
              <span class="d-block">
                <i class="bi bi-person me-2"></i> Profile
              </span>
            </a>
          </li>
          <li>
            <%= link_to destroy_user_session_path, class: "dropdown-item text-danger", data: { "turbo-method": :delete } do %>
              <span class="d-block">
                <i class="bi bi-box-arrow-left me-2"></i> Log Out
              </span>
            <% end %>
          </li>
        </ul>
      </li>
    </ul>
  </div>
</nav>
