<div class="ms-3">
  <label for="social_identity_selector">Share the following:</label>
  <select class="form-select" name="social_identities[]" id="social_identity_selector" data-controller="oauth--identity-select" multiple>
    <% @current_resource_owner.social_identities.each do |identity| %>
      <option value="<%= identity.id %>" selected data-identity-provider="<%= identity.provider %>"
              data-identity-display-name="<%= identity.friendly_name %>"
              data-identity-extid="<%= identity.external_id %>"
              data-identity-username="<%= identity.nickname %>">
        (<%= identity.provider %>) <%= identity.friendly_name %>
      </option>
    <% end %>
  </select>

  <div class="form-check form-switch">
    <%= check_box_tag :share_new_identities, true, checked: true, class: 'form-check-input' %>
    <%= label_tag :share_new_identities, class: "form-check-label" do %>
      Automatically share any new linked accounts
    <% end %>
  </div>
</div>