<% content_for :page_layout do %>
  <main class="main-content">
    <div class="position-relative">
      <nav class="nav navbar navbar-expand-xl navbar-light iq-navbar header-hover-menu">
        <div class="container-fluid navbar-inner">
          <a class="navbar-brand pride-brand m-0 d-xl-flex d-none">XIVAuth</a>
          <ul class="navbar-nav align-items-center navbar-list d-none d-xl-flex">
            <% if user_signed_in? %>
              <li class="nav-item">
                <%= link_to character_registrations_path, class: "btn btn-primary nav-link" do %>
                  My Account
                <% end %>
              </li>
            <% else %>
              <li class="nav-item">
                <%= link_to new_user_registration_path, class: "nav-link" do %>
                  Sign Up
                <% end %>
              </li>
              <li class="nav-item">
                <%= link_to new_user_session_path, class: "btn btn-primary nav-link" do %>
                  Log In
                <% end %>
              </li>
            <% end %>
          </ul>
        </div>
      </nav>
    </div>
    <%= yield %>
  </main>
<% end %>

<%= render template: "layouts/application" %>