<% content_for :page_layout do %>
  <% if user_signed_in? %>
    <%= render 'layouts/portal/navigation/sidebar' %>
  <% end %>

  <main class="main-content">
    <div class="position-relative">
      <% if user_signed_in? %>
        <%= render 'layouts/portal/navigation/topbar' %>
      <% else %>
        <nav class="nav navbar navbar-expand-xl navbar-light iq-navbar header-hover-menu">
          <div class="container-fluid navbar-inner">
            <a class="navbar-brand pride-brand m-0 d-xl-flex d-none">XIVAuth</a>
            <ul class="navbar-nav align-items-center navbar-list d-none d-xl-flex">
              <li class="nav-item">
                <%= link_to new_user_registration_path, class: "nav-link" do %>
                  Sign Up
                <% end %>
              </li>
              <li class="nav-item">
                <%= link_to new_user_session_path, class: "btn btn-primary nav-link" do %>
                  Log In
                <% end %>
              </li>
            </ul>
          </div>
        </nav>
      <% end %>
    </div>
    <%= yield %>
  </main>
<% end %>

<%= render template: "layouts/application" %>