<h1>ADMIN - Characters</h1>
<table class="table">
  <thead>
    <tr>
      <th></th>
      <th scope="col">Character</th>
      <th scope="col">Lodestone ID</th>
      <th scope="col">Owner</th>
      <th scope="col">Home World</th>
    </tr>
  </thead>
  <tbody>
  <% @characters.each do |character| %>
    <tr>
      <td><%= image_tag character.avatar_url, class: "rounded", size: 28 %></td>
      <td><%= link_to_pretty_character character, true, true %></td>
      <td><%= character.lodestone_id %></td>
      <td><%= link_to_pretty_user character.user %></td>
      <td><%= character.home_world %> (<%= character.home_datacenter %>)</td>
    </tr>
  <% end %>
  </tbody>
</table>