<div class="modal-header">
  <h5 class="modal-title">Generate Invite Code</h5>
</div>
<div class="modal-body">
  <%= form_with model: @invite_link, url: developer_team_invite_links_path(team_id: @team.id), method: :post do |f| %>
    <div class="mb-3">
      <%= f.label :usage_limit, "Usage Limit" %>
      <%= f.select :usage_limit, [
        ["1 use", "1"],
        ["5 uses", "5"],
        ["10 uses", "10"],
        ["25 uses", "25"],
        ["No limit", -1]
      ], class: "form-control form-select" %>
    </div>

    <div class="mb-3">
      <label for="ttl" class="form-label">Expiration Time</label>
      <select class="form-control form-select" name="team_invite_link[expires_at]" id="ttl">
        <option value="10">10 minutes</option>
        <option value="60" selected="selected">1 hour</option>
        <option value="1440">1 day</option>
        <option value="10080">1 week</option>
        <option value="-1">Never</option>
      </select>
    </div>

    <div class="mb-3">
      <%= f.label :target_role, "Target Role", class: "form-label" %>
      <%= f.select :target_role, [["Member", "member"], ["Developer", "developer"], ["Admin", "admin"]] %>
    </div>

    <%= f.submit "Generate Invite", class: "btn btn-primary" %>
  <% end %>
</div>
