<h2 class="mb-4">MFA Required</h2>
<p>Your account is protected by multifactor authentication.</p>

<%= form_with(scope: "mfa", url: session_path(resource_name), method: :post) do |f| %>
  <% if @user.webauthn_credentials.present? && @webauthn_challenge.present? %>
    <div data-controller="devise--webauthn--mfa" class="mb-4 d-grid">
      <%= f.hidden_field :webauthn_challenge, disabled: true, value: @webauthn_challenge.to_json,
                         data: { "devise--webauthn--mfa-target": "challenge" } %>
      <%= f.hidden_field :webauthn_response, data: { "devise--webauthn--mfa-target": "response" }, value: "" %>

      <%= f.button class: "btn btn-primary", data: { action: "devise--webauthn--mfa#authenticate" }, type: "button" do %>
        <i class="bi bi-usb-drive"></i> Use Security Key
      <% end %>
    </div>
  <% end %>

  <% if @user.totp_credential.present? %>
    <div>
      <div class="input-group mb-3">
        <%= f.text_field :otp_attempt, inputmode: "numeric", value: "", placeholder: "OTP Code", class: "form-control",
                         aria: { "describedby": "otp-submit", label: "OTP Code" } %>

        <%= f.button class: "btn btn-outline-primary", id: "otp-submit" do %>
          <i class="bi bi-arrow-right"></i> Sign In with OTP
        <% end %>
      </div>
    </div>
  <% end %>
<% end %>