<h2 class="mb-4">Sign in to XIVAuth</h2>

<div class="row g-2">
  <span class="text-muted text-center">Sign in with</span>
  <%= render "devise/shared/social" %>
</div>

<div class="row text-secondary pt-2">
  <div class="col">
    <hr/>
  </div>
  <div class="col-auto fst-italic">or</div>
  <div class="col">
    <hr/>
  </div>
</div>

<%= form_for(resource, as: resource_name, url: user_session_path, data: { controller: "devise--login-form" }) do |f| %>
  <div class="alert alert-warning d-none d-flex" role="alert" id="webauthnAlertFailure">
    <i class="bi bi-exclamation-triangle-fill me-2"></i>
    <span data-devise--login-form-target="webauthnFeedback"></span>
  </div>

  <div class="mb-3">
    <%= f.label :email, class: "form-label" %>
    <%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'form-control', placeholder: "#{eegg_random_npc_email}" %>
  </div>

  <div class="mb-3">
    <%= f.label :password, class: "form-label" %><br/>
    <%= f.password_field :password, autocomplete: "current-password", class: 'form-control' %>
  </div>

  <% if @discoverable_challenge %>
    <%= f.hidden_field :webauthn_challenge, value: @discoverable_challenge.to_json,
                       data: { "devise--login-form-target": "webauthnChallenge" } %>
    <%= f.hidden_field :webauthn_response, value: "",
                       data: { "devise--login-form-target": "webauthnResponse" } %>
  <% end %>

  <div class="d-flex justify-content-between">
    <% if devise_mapping.rememberable? %>
      <div class="form-check">
        <%= f.check_box :remember_me, class: "form-check-input" %>
        <%= f.label :remember_me, class: "form-check-label" %>
      </div>
    <% end %>
    <%- if devise_mapping.recoverable? %>
      <%= link_to "Problem signing in?", user_recovery_path, class: "ms-auto" %><br/>
    <% end %>
  </div>

  <div class="d-flex justify-content-center">
    <%= render partial: "layouts/components/form_elements/turnstile_preflight", locals: { action: "login" } %>
  </div>
  <div class="form-group d-grid d-md-flex mt-2 gap-2 mb-1">
    <div class="btn-group col-md-8" role="group" aria-label="Sign in options">
      <%= f.submit "Log In", class: "btn btn-primary col-11", data: { action: "devise--login-form#webauthnAbort", devise__login_form_target: "actionButton" } %>
      <button type="button" class="btn btn-outline-primary col" data-devise--login-form-target="actionButton"
              data-action="devise--login-form#webauthnManualDiscovery" title="Use a Passkey">
        <i class="bi bi-fingerprint"></i>
      </button>
    </div>
    <%= link_to "Sign up", new_user_registration_path, class: "btn btn-secondary col" %>
  </div>
<% end %>
