<%= form_with(model: @webauthn_credential, method: :post, url: user_webauthn_credentials_path,
              data: { controller: "devise--webauthn--registration", action: "devise--webauthn--registration#register" }) do |f| %>
  <div class="modal-header">
    <h5 class="modal-title">Add Security Key</h5>
  </div>
  <div class="modal-body">
    <div class="alert alert-warning d-none" role="alert" id="webauthnAlertFailure" data-devise--webauthn--registration-target="feedback"></div>

    <div class="form-floating mb-3">
      <%= f.text_field :nickname, class: "form-control", placeholder: "nickname", required: true %>
      <%= f.label :nickname, "Security Key Nickname" %>
    </div>

    <%= f.hidden_field :challenge, value: @challenge.to_json, disabled: true, data: { "devise--webauthn--registration-target": 'challenge' } %>
    <%= f.hidden_field :credential, data: { "devise--webauthn--registration-target": 'response' } %>

    <div class="form-check form-switch">
      <%= f.check_box :request_resident_key, class: "form-check-input", role: "switch", switch: true,
                      checked: @challenge.authenticator_selection[:resident_key] != "discouraged",
                      data: { "devise--webauthn--registration-target": 'requestResidentKey',
                              action: "devise--webauthn--registration#toggleResidentKey" } %>
      <%= f.label :request_resident_key, "Register as a Passkey", class: "form-check-label fw-semibold" %>
      <div id="residentKeyHelp" class="form-text">
        Asks that this security key be registered as a Passkey for single-touch login, if available.<br>
        <span class="text-warning">
        We <a href="https://fy.blackhats.net.au/blog/2023-02-02-how-hype-will-turn-your-security-key-into-junk/"
              class="text-warning text-decoration-underline">recommend disabling this option</a>
        for physical security keys.</span>
      </div>
    </div>
  </div>
  <div class="modal-footer border-top-0">
    <button type="button" class="btn btn-secondary-outline" data-bs-dismiss="modal">Cancel</button>
    <%= f.submit "Register Security Key", class: "btn btn-primary" %>
  </div>
<% end %>