<%= render 'layouts/components/remote_modal', title: 'Change Password' do %>
  <div class="modal-header">
    <h5 class="modal-title" id="verifyLabel">Change Password</h5>
  </div>
  <%= form_for @user, url: "#{profile_path}/password" do |form| %>
    <div class="modal-body">
      <%= render "users/shared/error_messages", resource: @user %>

      <div class="form-group">
        <%= form.label :current_password, "Current Password" %>
        <%= form.password_field :current_password, autocomplete: "current_password", class: "form-control" %>
      </div>
      <div class="form-group">
        <%= form.label :password, "New Password" %>
        <%= form.password_field :password, autocomplete: "password", class: "form-control" %>
      </div>
      <div class="form-group">
        <%= form.label :password_confirmation, "Confirm Password" %>
        <%= form.password_field :password_confirmation, autocomplete: "confirm_password", class: "form-control" %>
      </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn me-auto" data-bs-dismiss="modal" aria-label="Close">Cancel</button>
      <%= form.submit "Change Password", class: "btn btn-primary" %>
    </div>
  <% end %>
<% end %>