<%= turbo_stream.append 'body' do %>
  <%= render 'layouts/components/remote_modal_titled', title: "Password Reset Sent", modal_id: "pw_reset_#{ @user.id }" do %>
    <p>
      A single-use password reset link has been sent to <code><%= @user.email %></code>. This link will expire after
      <%= local_assigns[:link_ttl] %>. In the event that the user did not receive their email, the reset link is also
      available below.
    </p>

    <div class="alert alert-danger">
      <i class="bi bi-fire"></i>
      <strong>DANGER: This link should be treated as sensitive!</strong><br>
      Only share this link with the user that requested a password reset, and ensure you've verified their identity.
    </div>

    <div class="mb-3">
      <label class="form-label" for="reset_password_token_value">Reset URL</label>
      <div class="input-group" data-controller="utilities--copy-code">
        <input type="text" class="form-control font-monospace" id="reset_password_token_value"
               value="<%= local_assigns[:reset_password_token] %>" readonly data-utilities--copy-code-target="source">
        <button class="btn btn-outline-secondary" type="button" title="Copy token" aria-label="Copy token"
                data-action="utilities--copy-code#copy" data-utilities--copy-code-target="button">
          <i class="bi bi-clipboard"></i>
        </button>
      </div>
    </div>

    <div class="d-flex justify-content-end mt-3">
      <button type="button" class="btn btn-primary" data-bs-dismiss="modal"><i class="bi bi-check2"></i> Close</button>
    </div>
  <% end %>
<% end %>
