<div class="row">
  <div class="col-md-6">
    <h3>Basic User Info</h3>

    <div class="button-toolbar pb-4" id="admin-user-maintenance">
      <%= button_to admin_user_path(@user), method: :delete,
                    class: 'btn btn-danger', form_class: 'd-inline-block', disabled: delete_block_reason != nil,
                    title: delete_block_reason || "Permanently delete this user" do %>
        <i class="bi bi-person-x"></i> Delete User
      <% end %>
    </div>

    <table class="table table-borderless">
      <tbody>
      <tr>
        <th scope="row">User ID</th>
        <td><code><%= @user.id %></code></td>
      </tr>
      <tr>
        <th scope="row">Display Name</th>
        <td><%= @user.profile.display_name %></td>
      </tr>
      <tr>
        <th scope="row">Roles</th>
        <td>
          <% if @user.admin? %><span class="badge bg-danger"><i class="bi bi-lightning-fill"></i> ADMIN</span>
          <% end %>
          <% if @user.developer? %><span class="badge bg-primary"><i class="bi bi-code-slash"></i> Developer</span>
          <% end %>
          <% if false %><span class="badge bg-secondary"><i class="bi bi-slash-circle"></i> Banned</span>
          <% end %>
        </td>
      </tr>
      <tr>
        <th scope="row">Email Address</th>
        <td>
          <%= @user.email %>
          <% if @user.confirmed? %>
            <i class="bi bi-envelope-check text-success" title="Email Verified"></i>
          <% end %>
        </td>
      </tr>
      <% if @user.pending_reconfirmation? %>
        <th scope="row">Pending Email</th>
        <td>
          <%= @user.unconfirmed_email %>
        </td>
      <% end %>
      <tr>
        <th scope="row">Creation Date</th>
        <td><%= @user.created_at %></td>
      </tr>
      <tr>
        <th scope="row">Last Edit Date</th>
        <td><%= @user.updated_at %></td>
      </tr>
      </tbody>
    </table>
  </div>

  <div class="col-md-6">
    <h3>Security</h3>

    <div class="button-toolbar pb-2" id="admin-user-security">
      <% if @user.pending_reconfirmation? || !@user.confirmed? %>
        <%= button_to confirm_admin_user_path(@user), class: 'btn btn-primary', form_class: 'd-inline-block' do %>
          <i class="bi bi-envelope-plus"></i> Skip Email Confirmation
        <% end %>
      <% end %>
      <%= button_to reset_password_admin_user_path(@user), class: 'btn btn-primary', form_class: 'd-inline-block' do %>
        <i class="bi bi-envelope"></i> Send Password Reset</button>
      <% end %>
      <%= button_to mfa_admin_user_path(@user), method: :delete, class: 'btn btn-primary', form_class: 'd-inline-block',
                    disabled: !@user.requires_mfa? do %>
        <i class="bi bi-unlock"></i> Remove MFA
      <% end %>
    </div>

    <h4>Social Identities</h4>
    <table class="table">
      <thead>
      <tr>
        <th scope="col" aria-label="Identity Provider"></th>
        <th scope="col">Name</th>
        <th scope="col">External ID</th>
        <th scope="col">Linked</th>
        <th scope="col">Last Used</th>
        <th scope="col">Actions</th>
      </tr>
      </thead>
      <tbody>
      <% @user.social_identities.each do |ident| %>
        <tr>
          <th scope="row"><i class="fab fa-<%= ident.provider %> fa-fw" title="<%= ident.provider.titleize %>"></i></th>
          <td><%= ident.friendly_name %></td>
          <td><%= ident.external_id %></td>
          <td><%= dotiw_hover ident.created_at %></td>
          <td><%= dotiw_hover ident.last_used_at %></td>
          <td>
            <button class="btn btn-outline-danger"><i class="bi bi-trash"></i></button>
          </td>
        </tr>
      <% end %>
      </tbody>
    </table>

    <h4>MFA Credentials</h4>
    <p>
      TOTP Enabled:
      <% if @user.totp_credential.present? %>
        Yes (<%= @user.totp_credential.otp_backup_codes.count %> backup codes remaining)
      <% else %>
        No
      <% end %>
    </p>
    <table class="table">
      <thead>
      <tr>
        <th scope="col">Type</th>
        <th scope="col">Name</th>
        <th scope="col">Sign Count</th>
        <th scope="col">Actions</th>
      </tr>
      </thead>
      <tbody>
      <% @user.webauthn_credentials.each do |cred| %>
        <tr>
          <td>WebAuthn</td>
          <td><%= cred.nickname %></td>
          <td><%= cred.sign_count %></td>
          <td>N/A</td>
        </tr>
      <% end %>
      </tbody>
    </table>
  </div>

  <div class="col-md-12">
    <h3>Character Registrations</h3>
    <table class="table caption-top">
      <caption><%= @user.character_registrations.verified.count %> verified, <%= @user.character_registrations.count %>
        total
      </caption>
      <thead>
      <tr>
        <th scope="col" width="48"></th>
        <th scope="col">Lodestone ID</th>
        <th scope="col">Name</th>
        <th scope="col">Server</th>
        <th scope="col">Verified At</th>
        <th scope="col">Actions</th>
      </tr>
      </thead>
      <tbody>
      <% @cregs.each do |registration| %>
        <% character = registration.character %>
        <tr>
          <td><%= image_tag character.avatar_url, width: 36, class: "rounded" %></td>
          <td>
            <%= link_to character.lodestone_id, admin_character_path(character.lodestone_id) %>
            <% if registration.verified? %>
              <i class="bi bi-patch-check-fill text-success" title="Verified Character"></i>
            <% end %>
          </td>
          <td><%= character.name %></td>
          <td><%= character.home_with_datacenter %></td>
          <td>
            <% if registration.verified_at %>
              <%= registration.verified_at %>
            <% elsif character.verified? %>
              Verified
              by <%= link_to character.verified_owner.profile.display_name, admin_user_path(character.verified_owner) %>
            <% else %>
              Not Verified!
            <% end %>
          </td>
          <td>
            <%= button_to admin_character_registration_path(registration), method: :delete,
                          form_class: "d-inline-block", class: "btn btn-outline-danger",
                          title: "Delete Registration" do %>
              <i class="bi bi-trash"></i>
            <% end %>
            <% if registration.verified? %>
              <%= button_to verify_admin_character_registration_path(registration), method: :delete,
                            form_class: "d-inline-block", class: "btn btn-outline-danger",
                            title: "Force Unverify" do %>
                <i class="bi bi-patch-minus"></i>
              <% end %>
            <% else %>
              <% b_class = character.verified? ? 'btn-outline-secondary' : 'btn-outline-primary' %>
              <%= button_to verify_admin_character_registration_path(registration), params: { force: true },
                            form_class: "d-inline-block", class: "btn #{b_class}",
                            title: "Force Verify", disabled: character.verified? do %>
                <i class="bi bi-patch-plus"></i>
              <% end %>
            <% end %>
            <%= button_to refresh_admin_character_path(character.lodestone_id),
                          form_class: "d-inline-block", class: "btn btn-outline-primary",
                          title: "Refresh Character" do %>
              <i class="bi bi-arrow-repeat"></i>
            <% end %>
          </td>
        </tr>
      <% end %>
      </tbody>
    </table>
    <%== pagy_bootstrap_nav(@pagy_cregs) if @pagy_cregs.pages > 1 %>
  </div>
</div>
