<div class="row">
  <div class="col-md-8">
    <h3>JWT Key Info</h3>
    <div class="row">
      <div class="col">
        <table class="table table-borderless">
          <tbody>
          <tr>
            <th scope="row">Key Name (kid)</th>
            <td><code><%= @key.name %></code></td>
          </tr>

          <tr>
            <th scope="row">Key GUID</th>
            <td>
              <%= @key.id %>
            </td>
          </tr>

          <tr>
            <th scope="row">Key Type</th>
            <td>
              <span class="font-monospace"><%= @key.type.split("::")[-1] %></span>
              <% if @key.type == "JwtSigningKeys::ECDSA" %>
                (<span class="font-monospace"><%= @key.curve %></span>)
              <% end %>
            </td>
          </tr>

          <tr>
            <th scope="row">Supported Algorithms</th>
            <td>
              <%= sanitize(@key.supported_algorithms.each
                               .map { |a| "<span class='font-monospace'>#{a}</span>" }
                               .join(", ")) %>
            </td>
          </tr>

          <tr>
            <th scope="row">Creation Date</th>
            <td><%= @key.created_at %></td>
          </tr>

          <tr>
            <th scope="row">Expiration Date</th>
            <td><%= @key.expires_at || "None" %></td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div class="col-md-12">
    <div class="row">
      <div class="col-md-7">
        <h4>Public Key</h4>

        <% if @key.raw_public_key != nil %>
          <div data-controller="utilities--copy-code">
          <textarea data-utilities--copy-code-target="source" readonly class="form-control font-monospace" style="height: 22em;"
                    aria-label="Public Key"><%= @key.raw_public_key.gsub('\n', "\n").strip %></textarea>
            <button class="btn btn-outline-secondary" type="button" data-action="utilities--copy-code#copy" data-utilities--copy-code-target="button">
              <i class="bi bi-clipboard"></i> Copy
            </button>
          </div>
        <% else %>
          <p>This key type does not have a public half.</p>
        <% end %>
      </div>
    </div>
  </div>
</div>
