<footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
  <div class="col-md-4 mb-0 text-muted small">
    <p class="mb-0">
      &copy; LOLOL The XIVAuth Project.
      <br class="d-xxl-none">
      Not associated with Square Enix.
    </p>
    <ul class="list-unstyled list-inline pipe-separated-items">
      <% if commit_hash.present? %>
        <li class="mb-0">Build
          <a href="https://github.com/KazWolfe/XIVAuth/commit/<%= commit_hash %>"><code><%= commit_hash[..7] %></code></a>
        </li>
      <% end %>
      <% case hosting_provider %>
      <% when :heroku %>
        <li>Running on Heroku</li>
      <% when :railway %>
        <li>Running on <a href="https://railway.com?referralCode=8aVs5S">Railway</a></li>
      <% when Symbol %>
        <li>Running on <%= hosting_provider.to_s.titleize %></li>
      <% end %>
    </ul>
  </div>

  <% if !Rails.env.production? || (ENV["APP_ENV"] != "production") %>
    <div class="col-md-4 mb-0 text-muted small text-center">
      <p class="mb-0">Environment: <%= (ENV["APP_ENV"] || Rails.env).titleize %></p>
      <p class="mb-0"><code><%= controller_name %>#<%= action_name %></code></p>
    </div>
  <% end %>

  <ul class="nav bg-transparent col justify-content-end">
    <li class="nav-item"><a href="https://github.com/KazWolfe/XIVAuth" class="nav-link px-2 text-muted">GitHub</a></li>
    <li class="nav-item"><a href="https://discord.gg/nFPPTcDDgH" class="nav-link px-2 text-muted">Discord</a></li>
    <li class="nav-item">
      <a href="https://kazwolfe.notion.site/Documentation-128e77f0016c4901888ea1234678c37d?pvs=4" class="nav-link px-2 text-muted">
        API Docs
      </a>
    </li>
  </ul>
</footer>