<nav class="navbar navbar-expand-lg mb-4 border-bottom">
  <div class="container">
    <a class="navbar-brand pride-brand" href="/">XIVAuth</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <% if user_signed_in? %>
          <li class="nav-item">
            <%= link_to "My Characters", character_registrations_path, class: 'nav-link' %>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" id="devDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Developer
            </a>
            <ul class="dropdown-menu" aria-labelledby="devDropdown">
              <% if current_user.developer? %>
                <li><%= link_to "Applications", developer_applications_path, class: 'dropdown-item' %></li>
                <li><a class="dropdown-item disabled">Teams</a></li>
                <li><a class="dropdown-item" target="_blank" href="https://kazwolfe.notion.site/Documentation-128e77f0016c4901888ea1234678c37d?pvs=4">API Documentation</a></li>
              <% else %>
                <li><a class="dropdown-item disabled">Request Developer Access</a></li>
              <% end %>
            </ul>
          </li>
          <% if current_user.admin? %>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" id="adminDropdown" role="button" data-bs-toggle="dropdown", aria-expanded="false">
                Admin
              </a>
              <ul class="dropdown-menu" aria-labelledby="adminDropdown">
                <li><%= link_to "Dashboard", admin_root_path, class: 'dropdown-item' %></li>
                <li><%= link_to "User Management", admin_users_path, class: 'dropdown-item' %></li>
                <li><%= link_to "Character Management", admin_characters_path, class: 'dropdown-item' %></li>
                <li><%= link_to "Client App Management", admin_client_applications_path, class: 'dropdown-item' %></li>
                <li><hr class="dropdown-divider"></li>
                <li><%= link_to "Sidekiq UI", "/admin/sidekiq", class: 'dropdown-item' %></li>
                <li><%= link_to "Feature Flags", "/admin/flipper", class: 'dropdown-item' %></li>
              </ul>
            </li>
          <% end %>
        <% end %>
      </ul>
      <ul class="navbar-nav">
        <% if not user_signed_in? %>
          <li class="nav-item">
            <%= link_to "Sign Up", new_user_registration_path, class: 'nav-link' %>
          </li>
          <li class="nav-item">
            <%= link_to "Log In", new_user_session_path, class: 'nav-link' %>
          </li>
        <% else %>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="profileDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              <img src="<%= current_user.avatar_url %>" alt="" width="24" height="24" class="d-inline-block rounded-2">
              Hi, <%= current_user.profile.display_name %>
            </a>
            <ul class="dropdown-menu" aria-labelledby="profileDropdown">
              <li><%= link_to "Profile", edit_user_registration_path, class: 'dropdown-item' %></li>
              <li>
                <hr class="dropdown-divider">
              </li>
              <li>
                <%= link_to "Log Out", destroy_user_session_path, class: "dropdown-item", data: { "turbo-method": :delete } %>
              </li>
            </ul>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>