<!DOCTYPE html>
<html lang="en" data-bs-theme="auto" data-bs-theme-color="theme-color-default">
<head>
  <title><%= yield(:title).presence || 'XIVAuth' %></title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= Gon::Base.render_data %>

  <% if content_for(:head_extensions_before) %>
    <%= yield(:head_extensions_before) %>
  <% end %>

  <%= stylesheet_link_tag "framework", "data-turbo-track": "reload", integrity: true %>
  <%= stylesheet_link_tag "icons", "data-turbo-track": "reload" %>
  <%= stylesheet_link_tag "application", "data-turbo-track": "reload", integrity: true %>

  <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true, integrity: true %>
  <%= javascript_include_tag "hope-ui", "data-turbo-track": "reload", defer: true, integrity: true %>

  <meta name="turbo-refresh-method" content="morph">

  <% if content_for(:head_extensions) %>
    <%= yield(:head_extensions) %>
  <% end %>
</head>

<body class="d-flex flex-column min-vh-100" id="body">
<%= render 'layouts/components/env_watermark' %>

<% if content_for(:page_layout) %>
  <%= yield(:page_layout) %>
<% else %>
  <div class="container">
    <%= render 'layouts/components/flashes' %>
    <%= yield %>
  </div>
<% end %>

<div class="toast-container p-3 top-0 end-0" id="toasts">
  <%= render partial: "layouts/components/toasts/flashy_toasts" %>
  <%= turbo_stream_from "UserStream:#{current_user.id}", :toasts if current_user.present? %>
</div>
</body>
</html>
