<!DOCTYPE html>
<html>
<head>
  <title>App</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>

</head>

<body class="d-flex flex-column min-vh-100">
<%= render 'layouts/components/env_watermark' %>
<%= render 'layouts/navbar' %>

<div class="container">
  <%= render 'layouts/components/flashes' %>

  <%= yield %>
</div>

<%= turbo_frame_tag "remote_modal", target: "_top" %>

<div class="container mt-auto">
  <%= render 'layouts/footer' %>
</div>
</body>
</html>
