<!DOCTYPE html>
<html lang="en" data-bs-theme="auto">
<head>
  <title><%= yield(:title).presence || 'XIVAuth' %></title>
  <meta name="viewport" content="width=device-width,initial-scale=1">

  <%= include_gon(nonce: content_security_policy_nonce) %>

  <%= stylesheet_link_tag "framework" %>
  <%= stylesheet_link_tag "icons" %>
  <%= stylesheet_link_tag "application" %>

  <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true, integrity: true %>
</head>
<body class="d-flex flex-column min-vh-100">
  <main class="d-flex flex-column flex-grow-1 align-items-center justify-content-center p-3">
    <div class="error-backdrop full-backdrop"></div>
    <div style="width: 100%; max-width: 480px;">
      <div class="card shadow-sm">
        <div class="card-header text-center pt-4">
          <a href="/" class="text-decoration-none fw-bold fs-4">XIVAuth</a>
        </div>
        <div class="card-body py-0">
          <%= yield %>
        </div>
        <% if (@trace_type.present? && @trace_id.present?) || commit_hash.present? %>
          <div class="card-footer text-center text-muted very-small py-2 pt-4">
            <% if @trace_type.present? && @trace_id.present? %>
              <p class="mb-0"><%= @trace_type %>: <span class="font-monospace"><%= @trace_id %></span></p>
            <% end %>
            <% if commit_hash.present? %>
              <p class="mb-0">
                Build
                <a href="https://github.com/XIVAuth/XIVAuth/commit/<%= commit_hash %>" class="text-muted">
                  <code><%= commit_hash[..7] %></code>
                </a>
              </p>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>
  </main>
</body>
</html>
